---
import MaintenancePage from '../components/pages/MaintenancePage'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Mantenimiento - TradeConnect</title>
    <meta name="description" content="Estamos realizando mantenimiento programado. Volveremos pronto con mejoras." />
    <meta http-equiv="refresh" content="300" />
  </head>
  <body>
    <MaintenancePage client:load />
  </body>
</html>