---
import UnauthorizedPage from '../components/pages/UnauthorizedPage'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Acceso Denegado - TradeConnect</title>
    <meta name="description" content="No tienes permisos para acceder a esta sección. Contacta al administrador." />
  </head>
  <body>
    <UnauthorizedPage client:load />
  </body>
</html>